<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="add-form">
        <form (ngSubmit)="save()" [formGroup]="AddBookForm"  class="mt-5 border p-4 bg-light shadow">
          <h4 class="mb-5 text-secondary">Ajouter Livre</h4>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label>ISBN<span class="text-danger">*</span></label>
              <input type="text" name="isbn" class="form-control" placeholder="L'identifiant du livre" formControlName="isbn">
              @if(!isAttributeValid('isbn')){
                <div class="errors">
                  <span >ce champ est requis</span>
                </div>
              }
            </div>

            <div class="mb-3 col-md-6">
              <label>Titre<span class="text-danger">*</span></label>
              <input type="text" name="titre" class="form-control" placeholder="Titre du livre" formControlName="titre">
              @if(!isAttributeValid('titre')){
                <div class="errors">
                  <span >ce champ est requis</span>
                </div>
              }
            </div>

            <div class="mb-3 col-md-12">
              <label>Auteur<span class="text-danger">*</span></label>
              <input type="text" name="auteur" class="form-control" placeholder="L'auteur du livre" formControlName="auteur">
              @if(!isAttributeValid('auteur')){
                <div class="errors">
                    <span >ce champ est requis</span>
                </div>
              }
            </div>
            <div class="mb-3 col-md-12">
              <label>Categorie<span class="text-danger">*</span></label>
              <select  name="categorie" class="form-control" formControlName="categorieId">
                <option value="" disabled selected>Selectionner une categorie</option>
                @for( c of categories;track $index){
                  <option [value]="c.id" >{{ c.tile }}</option>}
                @if(!isAttributeValid('categorieId')){
                  <div class="errors">
                      <span >ce champ est requis</span>
                  </div>
                }
              </select>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary float-end">Enregister</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
