<div style="margin-left: 100px">
  <div class="my-orders">
    <h2>My Orders</h2>
    <table>
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Book Cover</th>
        <th>Book Title</th>
        <th>Order Date</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>
          <img [src]="order.imageUrl" [alt]="order.bookTitle" class="book-cover" />
        </td>
        <td>{{ order.bookTitle }}</td>
        <td>{{ order.orderDate }}</td>
        <td [ngClass]="getStatusClass(order.status)">{{ order.status }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
