<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="signup-form">
        <form (ngSubmit)="save()" [formGroup]="AddUserForm"  class="mt-5 border p-4 bg-light shadow">
          <h4 class="mb-5 text-secondary">Aajouter Adherent</h4>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label>Nom<span class="text-danger">*</span></label>
              <input type="text" name="lname" class="form-control" placeholder="Entrer Nom"
              formControlName="lname">
              @if(!isAttributeValid('lname')){

              <span class="errors">ce champ est requis</span>
              }
            </div>

            <div class="mb-3 col-md-6">
              <label>Prenom<span class="text-danger">*</span></label>
              <input type="text" name="Fname" class="form-control" placeholder="Entrer Prenom"
                     formControlName="fname">
              @if(!isAttributeValid('fname')){
                <div class="errors">
                  <span>ce champ est requis</span>
                </div>
              }
            </div>

            <div class="mb-3 col-md-6">
              <label>C.I.N<span class="text-danger">*</span></label>
              <input type="text" name="cin" class="form-control" formControlName="cin" placeholder="Entrer N cin">
              @if(!isAttributeValid('cin')){
                <div class="errors">
                  <span> ce champ est requis</span>
                </div>
              }
            </div>

            <div class="mb-3 col-md-6">
              <label>email<span class="text-danger">*</span></label>
              <input type="email" name="email" class="form-control" placeholder="Entrer l'email" formControlName="email">
              @if(!isAttributeValid('email')){
                <div class="errors">
                  <span>ce champ est requis</span>
            </div>}
                  @if(isSubmitted && AddUserForm.get('email')?.invalid &&AddUserForm.get('email')?.value!=''){
                    <span class="errors">l'email n'est pas valide</span>
                  }


            </div>

            <div class="mb-3 col-md-6">
              <label><input type="radio" name="genre" value="homme" formControlName="genre"> Homme</label>
            </div>
            <div class="mb-3 col-md-6">
             <label> <input type="radio" name="genre" value="femme" formControlName="genre"> Femme</label>
            </div>
            @if(!isAttributeValid('genre')){
              <div class="errors">
                <span>selectionner une option</span>
              </div>}
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary float-end">Enregistrer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
