<nav class="navbar-expand container-fluid">
  <div class=" d-flex justify-content-between align-items-center">
    <div class="dropdown">
      <button
      class="btn btn-none dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{categorie}}
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let categorie of categories"><a class="dropdown-item" (click)="setCategorie(categorie.categorie)">{{categorie.categorie}}</a></li>
    </ul>
    </div>
  </div>

</nav>
