.side-nav-content{
  color:white;
  width:230px;
  margin-top:10px;
  margin-right: 10px;
  margin-left: 10px;
}
.bwhite{
  border:1px solid white;
}
.nav-list{
  list-style:none;
  padding:0%;
  height:100%;
  margin-bottom: 0%;
}
.nav-list-item{
  display:flex;
  align-items: center;
  height: 50px;
}
.nav-list-item i{
font-size: 20px;
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 10px;
  text-align: center;
  line-height: 25px;
}
.nav-list-item span{
 width: 170px;
  text-transform: capitalize;
}
a{
  text-decoration: none;
  color:white;
}
.nav-list-item:hover{
  background-color:rgba(255,255,255,0.3);
  border-radius: 10px;
}
